.form{
    border: 3px #ccc dashed;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 #ddd; 
    font-size: 100%;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    height:300px;
    background-color:  #fff;
    text-align:center;
}

.back_image{
    background-image:url(static/PDF_image.png);
    background-size:contain; 
    background-repeat:no-repeat; 
    height:300px;
    margin-top:10px;
    margin-bottom:30px;   
}